<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Card</title>
    <h1>Create Your DevCard</h1>
    <form action="/homepage" method="POST">
      <div class=''>
      <input name='name' placeholder='Your Full Name'>
      <input name='aboutme' placeholder='About Me'>
      <input name='HTML' type='checkbox'>
      <label>HTML</label>
      <input name='CSS' type='checkbox'>
      <label>CSS</label>
      <input name='JS' type='checkbox'>
      <label>JS</label>
      <input name='Git' type='checkbox'>
      <label>Git</label>
      <input name='React' type='checkbox'>
      <label>React</label>
      <input name='Node.JS' type='checkbox'>
      <label>Node.js</label>
      <input name='GithubURL' placeholder='Github URL'>
      <input name='TwitterURL' placeholder='Twitter URL'>
      <input name='FavBooks' placeholder='Favourite Books (Sepearate by comma)'>
      <input name='FavArtists' placeholder='Favourite Artists (Sepearate by comma)'>
    </div>
    <button type='submit'>Create Site</button>
    </form>
  </head>
  <body></body>
</html>
