<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Card</title>
    <h1>Create Your DevCard</h1>
    <form action="homepage.ejs" method="POST">
      <div class='body'>
      <input name='name' placeholder='Your Full Name'>
      <input aboutme='aboutme' placeholder='About Me'>
      <input type='checkbox'>
      <label>HTML</label>
      <input type='checkbox'>
      <label>CSS</label>
      <input type='checkbox'>
      <label>JS</label>
      <input type='checkbox'>
      <label>Git</label>
      <input type='checkbox'>
      <label>React</label>
      <input type='checkbox'>
      <label>Node.js</label>
      <input GithubURL='GithubURL' placeholder='Github URL'>
      <input TwitterURL='TwitterURL' placeholder='Twitter URL'>
      <input FavBooks='FavBooks' placeholder='Favourite Books (Sepearate by comma)'>
      <input FavArtists='FavArtists' placeholder='Favourite Artists (Sepearate by comma)'>
    </div>
    <button type='submit'>Create Site</button>
    </form>
  </head>
  <body></body>
</html>
